.loader {
  top: 0;
  width: auto;
  left: -32px;
  height: 28px;
  text-align: center;
  display: inline-block;
  position: relative;
}

.loader[state="show"] {visibility: show}
.loader[state="hide"] {visibility: hidden}

.loader div {
  top: 0;
  width: 5px;
  height: 5px;
  margin-top: 10px;
  border-radius: 50%;
  position: relative;
  background: #747474;
  display: inline-block;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.loader div:nth-child(1) {
  left: 5px;
  animation: loader1 0.6s infinite;
}

.loader div:nth-child(2) {
  left: 5px;
  animation: loader2 0.6s infinite;
}

.loader div:nth-child(3) {
  left: 32px;
  animation: loader2 0.6s infinite;
}

.loader div:nth-child(4) {
  left: 55px;
  animation: loader3 0.6s infinite;
}

@keyframes loader1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes loader2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(32px, 0);
  }
}

@keyframes loader3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
