.loader {
  top: 0;
  width: auto;
  left: -32px;
  height: 28px;
  text-align: center;
  position: relative;
  display: inline-block;
}

.loader[state="show"] {visibility: show}
.loader[state="hide"] {visibility: hidden}

.loader div {
  top: 0;
  width: 10px;
  height: 10px;
  background: #555;
  margin-top: 10px;
  border-radius: 50%;
  position: relative;
  display: inline-block;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.loader div:nth-child(1) {
  left: 5px;
  animation: loader_1 600ms infinite;
}

.loader div:nth-child(2) {
  left: 5px;
  animation: loader_2 600ms infinite;
}

.loader div:nth-child(3) {
  left: 32px;
  animation: loader_3 600ms infinite;
}

.loader div:nth-child(4) {
  left: 55px;
  animation: loader_4 600ms infinite;
}

@keyframes loader_1 {
  0% {
    transform: scale(0.0);
  }
  100% {
    transform: scale(1.0);
  }
}

@keyframes loader_2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(32px, 0);
  }
}

@keyframes loader_3 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(32px, 0);
  }
}

@keyframes loader_4 {
  0% {
    transform: scale(1.0);
  }
  100% {
    transform: scale(0.0);
  }
}
