body {
  border: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: system-ui, sans-serif;
}

input, div, table, table tr td {
  font-family: system-ui, sans-serif;
}

.container {
  margin: auto;
  display: flex;
  margin-top: 20px;
  flex-flow: column;
  align-items: center;
  width: calc(100% - 10px);
  height: calc(100vh - 70px);
  justify-content: flex-start;
}

.container .title {
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: auto;
  color: #000;
  height: 48px;
  font-size: 15px;
  position: fixed;
  line-height: 48px;
  user-select: none;
  text-indent: 16px;
  text-align: center;
  background-color: #fff;
  font-family: monospace;
}

.content {
  flex: 1;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 10px;
  max-height: calc(100% - 145px);
}

.content table {
  border: 0;
  padding: 0;
  width: 100%;
  margin: auto;
  border-spacing: 5px 0;
}

.content table tr td {
	padding: 0;
}

.content input[type="file"], .content input[type="password"] {
	padding: 0;
  color: #333;
  width: 100%;
  height: 48px;
  outline: none;
  font-size: 15px;
  margin: 1px auto;
  text-indent: 10px;
  font-family: monospace;
  box-sizing: border-box;
  vertical-align: middle;
  box-sizing: border-box;
	border: solid 1px rgba(0,0,0,0.05);
}

.content .encrypt-box input[type="password"] {
  background-color: rgb(70 115 183 / 3%);
}

.content .decrypt-box input[type="password"] {
  background-color: rgb(121 185 22 / 3%);
}

.content .name {
  width: 22px;
  min-width: 22px;
  max-width: 22px;
  font-weight: 600;
  text-align: center;
  text-indent: -18px;
}

.content .password {
  width: 100%;
}

.content .encrypt-box {
  padding: 5px;
  box-sizing: border-box;
  border: solid 1px #4673b7;
}

.content .decrypt-box {
  padding: 5px;
  box-sizing: border-box;
  border: solid 1px #79b916;
}

.content .button {
  width: 42px;
  min-width: 42px;
  max-width: 42px;
  cursor: pointer;
}

.content button {
  padding: 0;
  width: 100%;
  margin: auto;
  height: 162px;
  outline: none;
  cursor: pointer;
  background: #fff;
  overflow: hidden;
  text-align: center;
  box-sizing: border-box;
}

.content input[type="file"] {
  height: 48px;
  text-indent: 0;
  cursor: pointer;
}

.content .name div {
  color: #333;
  font-size: 13px;
  user-select: none;
  letter-spacing: 1px;
  transform: rotate(-90deg);
  text-transform: uppercase;
}

.content .password, .content .button {
  text-align: center;
}

.content .button .encrypt,
.content .button:has(.encrypt) {
  border: solid 1px #4673b7;
}

.content .button .decrypt,
.content .button:has(.decrypt) {
  border: solid 1px #79b916;
}

.content .encrypt {
  background-color: #4673b7 !important;
}

.content .decrypt {
  background-color: #79b916 !important;
}

.content .encrypt svg, .content .decrypt svg {
  fill: #fff;
  pointer-events: none;
  vertical-align: middle;
}

.content .separator {
  width: 100%;
  height: 58px;
  background-color: #fff;
}

.content .separator div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content .separator div:before, .content .separator div:after {
  width: 50%;
  content: '';
  margin: 0 10px;
  border-bottom: solid 1px rgba(0,0,0,0.05);
}

.content .separator div svg {
  fill: #777;
  pointer-events: none;
  vertical-align: middle;
}

.footer {
  margin: 0;
  width: 100%;
  text-align: center;
}

.footer .note {
  padding: 0;
  margin: auto;
  overflow: hidden;
  text-align: justify;
  width: calc(100% - 10px);
}

.footer .note p {
  color: #333;
  padding: 10px;
  margin: 0 auto;
  font-size: 13px;
  user-select: none;
  line-height: 22px;
  text-align: justify;
  width: calc(100% - 20px);
}

.footer .info, .footer .result {
  border: 0;
  color: #333;
  width: 100%;
  font-size: 15px;
  overflow: hidden;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  display: inline-block;
  font-family: monospace;
  text-overflow: ellipsis;
}

.footer .info {
  margin: 5px;
  height: 64px;
  display: none;
  line-height: 64px;
}

.footer .result {
  margin: 0;
}

.footer .result table {
  border: 0;
  padding: 0;
  width: 100%;
  margin: auto;
  border-spacing: 5px 0;
}

.footer .result table tr td {
  padding: 0;
  height: 64px;
}

.footer .result-name {
  width: 18px;
  min-width: 18px;
  max-width: 18px;
  font-weight: 600;
  text-align: center;
  text-indent: -14px;
}

.footer .result-name div {
  color: #333;
  font-size: 13px;
  user-select: none;
  letter-spacing: 1px;
  transform: rotate(-90deg);
  text-transform: uppercase;
}

.footer .result-file {
  padding: 5px;
  box-sizing: border-box;
  border: solid 1px #555;
}

.footer .result-file[state='encrypted'] {
  background: url('resources/key.svg') no-repeat 16px center;
}

.footer .result-file a {
  color: #3989ed;
  text-decoration: none;
}

.footer .result-icon {
  border: 0;
  padding: 0;
  width: 42px;
  min-width: 42px;
  max-width: 42px;
  text-align: center;
  background-color: #555;
  box-sizing: border-box;
  border: solid 1px #555;
}

.footer .result-icon[download] {
  cursor: pointer;
  background-color: #666;
}

.footer .result-icon svg {
  fill: #fff;
  pointer-events: none;
  vertical-align: middle;
}

.toolbar {
  height: 48px;
  display: flex;
  justify-content: flex-end;
  border-bottom: solid 1px rgba(0,0,0,0.05);
}

.toolbar table {
  table-layout: fixed;
  border-spacing: 1px 0;
}

.toolbar table tr td {
  padding: 0;
  width: 48px;
  height: 48px;
  cursor: pointer;
  line-height: 48px;
  user-select: none;
  text-align: center;
  transition: 300ms ease background-color;
}

.toolbar table tr td svg {
  fill: #555;
  pointer-events: none;
  vertical-align: middle;
}

.toolbar table tr td:hover {
  background-color: rgba(0,0,0,0.05);
}

@media (max-width: 400px) {
  .toolbar, .container .title {
    display: none;
  }
  .container {
    width: 100%;
    margin-top: 5px;
    height: calc(100vh - 5px);
  }
}

@media (max-width: 300px) {
  .name, .result-name {
    display: none;
  }
}

html[context="webapp"] .title,
html[context="webapp"] .toolbar {
  display: none;
}

html[theme='dark'] .loader div {
  background: rgb(255 255 255 / 75%);
}

html[theme='dark'], 
html[theme='dark'] body {
  color: #ebebeb;
  color-scheme: dark;
  background-color: #1e1e1e;
}

html[theme='dark'] .container .title,
html[theme='dark'] .content .separator {
  color: #ebebeb;
  background-color: #1e1e1e;
}

html[theme='dark'] .footer .note p {
  color: #c7c7c7;
}

html[theme='dark'] .content .name div,
html[theme='dark'] .footer .result-name div,
html[theme='dark'] .content input[type="file"],
html[theme='dark'] .content input[type="password"] {
  color: #ebebeb;
}

html[theme='dark'] .toolbar,
html[theme='dark'] .footer .result-icon,
html[theme='dark'] .content input[type="file"],
html[theme='dark'] .content .separator div:after,
html[theme='dark'] .content .separator div:before,
html[theme='dark'] .content input[type="password"] {
  border-color: rgb(255 255 255 / 15%);
}

html[theme='dark'] .toolbar table tr td svg,
html[theme='dark'] .content .separator div svg {
  fill: #ebebeb;
}
